@import url('./reset.css');
@import url('./header.css');
@import url('./best-sellers.css');
@import url('./categories.css');
@import url('./modal-window.css');
@import url('./support-ukraine.css');
@import url('./dark-theme.css');
@import url('./shopping-list-header.css');
@import url('./shopping.css');

body {
  font-family: 'DM Sans', sans-serif;
  background: #f6f6f6;
}

:root {
  --black: #111;
  --black-1: #202024;
  --violet: #4f2ee8;
  --yellow: #eac645;
  --white: #fff;
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    margin: 0 auto;
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .main-flex-container {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
  }
  .flex-container {
    flex-direction: column;
  }
}

.support-shop-container {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
}
